include ../breadcrumbs/breadcrumbs.pug
mixin content(data)
    .content
        .content__block1
            +breadcrumbs()
            .content__main-post
                .content__wrapper
                    .content__text-wrapper
                        p.content__text ВТБ предлагает покупателям &laquo;Пресня Сити&raquo;, &laquo;Басманный, 5&raquo; и &laquo;Царская площадь&raquo; премиальное банковское обслуживание
                        span.content__flag до 31 января
                    .content__time-wrapper
                        p.content__days 5 дней
                        .content__clock
                            span 08
                            span 34
                            span 10
                .content__wrapper2
                    a.content__pic1(href="#", style="background-image: url(static/img/general/pic2.jpg);")
                    .content__info
                        p Размещение позиционирует институциональный стратегический маркетинг. Такое понимание ситуации восходит к Эл Райс, при этом нестандартный подход категорически экономит комплексный медиабизнес. Ценовая стратегия индуцирует бренд.
                        .content__phone-wrapper
                            p Узнайте детали акции:
                            a.content__phone(href="#") +7 495 150-XX-XX
            .content__title Ещё акции
            .content__small-post
                a.content__left-column(href="#", style="background-image: url(static/img/general/pic1.jpg);")
                    .content__post-flag До 15 января
                .content__middle-column
                    a.content__column-title(href="#") Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                    a.content__column-text(href="#") Стратегия сегментизации, в рамках сегодняшних воззрений, категорически тормозит процесс стратегического планирования.
                .content__right-column
                    p Осталось
                    .content__time-counter
                        .content__number.content__number--first 0
                        .content__number.content__number--last 8
                        .content__time дней
            .content__small-post
                a.content__left-column(href="#", style="background-image: url(static/img/general/pic3.jpg);")
                    .content__post-flag До 15 января
                .content__middle-column
                    a.content__column-title(href="#") Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                    a.content__column-text(href="#") Стратегия сегментизации, в рамках сегодняшних воззрений, категорически тормозит процесс стратегического планирования.
                .content__right-column
                    p Осталось
                    .content__time-counter
                        .content__number.content__number--first 0
                        .content__number.content__number--last 8
                        .content__time дней
            .content__small-post
                a.content__left-column(href="#", style="background-image: url(static/img/general/pic5.jpg);")
                    .content__post-flag До 15 января
                .content__middle-column
                    a.content__column-title(href="#") ВТБ предлагает покупателям &laquo;Пресня Сити&raquo;, &laquo;Басманный, 5&raquo; и &laquo;Царская площадь&raquo; премиальное банковское обслуживание
                    a.content__column-text(href="#") Банк ВТБ24 и девелоперы MR Group и Coalco приготовили для покупателей квартир и аппартаментов в комплесах &laquo;Пресня Сити&raquo;, &laquo;Басманный, 5&raquo; и &laquo;Царская площадь&raquo; новогодний подарок - сертификат на премиальное обслуживание в рамках пакета услуг &laquo;Привилегия&raquo;
                .content__right-column
                    p Осталось
                    .content__time-counter
                        .content__number.content__number--first 0
                        .content__number.content__number--last 8
                        .content__time дней
        .content__block2
            .content__title Другие акции
            .content__post-wrapper
                a.content__popular-post(href="#")
                    .content__pic2(style="background-image: url(static/img/general/pic4.jpeg);")
                    .content__post-info Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                    .content__flag-wrap
                        span.content__post-card До 31 января
                a.content__popular-post(href="#")
                    .content__pic2(style="background-image: url(static/img/general/pic2.jpg);")
                    .content__post-info Покупка квартиры в Бэсткон - реальный шанс выиграть автомобиль!
                    .content__flag-wrap
                        span.content__post-card До 31 января
                a.content__popular-post(href="#")
                    .content__pic2(style="background-image: url(static/img/general/pic1.jpg);")
                    .content__post-info ВТБ предлагает покупателям &laquo;Пресня Сити&raquo;, &laquo;Басманный, 5&raquo; и &laquo;Царская площадь&raquo; премиальное банковское обслуживание
                    .content__flag-wrap
                        span.content__post-card До 31 января
                a.content__popular-post(href="#")
                    .content__pic2(style="background-image: url(static/img/general/pic4.jpeg);")
                    .content__post-info Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                    .content__flag-wrap
                        span.content__post-card До 31 января
                a.content__popular-post(href="#")
                    .content__pic2(style="background-image: url(static/img/general/pic2.jpg);")
                    .content__post-info Покупка квартиры в Бэсткон - реальный шанс выиграть автомобиль!
                    .content__flag-wrap
                        span.content__post-card До 31 января
                a.content__popular-post(href="#")
                    .content__pic2(style="background-image: url(static/img/general/pic1.jpg);")
                    .content__post-info ВТБ предлагает покупателям &laquo;Пресня Сити&raquo;, &laquo;Басманный, 5&raquo; и &laquo;Царская площадь&raquo; премиальное банковское обслуживание
                    .content__flag-wrap
                        span.content__post-card До 31 января
