doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/main/main.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        .header__mobile
            a.header__mobile-logo(href="index.html")
            .header__mobile-btn
                .header__line1
                .header__line2
                .header__line3
        +header()
        +main()
        +footer()
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
        script(src='%=static=%js/main%=hash=%%=min=%.js')
