mixin sidebar(data)
    .sidebar
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s1.jpg);")
            a.sidebar__title(href="#") ЖК "Прима-парк", скидки до 11%
            a.sidebar__text(href="#") Только раз в году, в декабре! Ипотека от 7,5%!
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s2.jpg);")
            a.sidebar__title(href="#") ЖК "Царицыно"
            a.sidebar__text(href="#") Квартиры комфорт-класса по цене эконом! От 64000 руб./кв.м.
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s3.jpg);")
            a.sidebar__title(href="#") 7 км от МКАД!
            a.sidebar__text(href="#") Цена от 1.70 млн Р
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s1.jpg);")
            a.sidebar__title(href="#") ЖК "Прима-парк", скидки до 11%
            a.sidebar__text(href="#") Только раз в году, в декабре! Ипотека от 7,5%!
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s2.jpg);")
            a.sidebar__title(href="#") ЖК "Царицыно"
            a.sidebar__text(href="#") Квартиры комфорт-класса по цене эконом! От 64000 руб./кв.м.
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s3.jpg);")
            a.sidebar__title(href="#") 7 км от МКАД!
            a.sidebar__text(href="#") Цена от 1.70 млн Р
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s1.jpg);")
            a.sidebar__title(href="#") ЖК "Прима-парк", скидки до 11%
            a.sidebar__text(href="#") Только раз в году, в декабре! Ипотека от 7,5%!
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s2.jpg);")
            a.sidebar__title(href="#") ЖК "Царицыно"
            a.sidebar__text(href="#") Квартиры комфорт-класса по цене эконом! От 64000 руб./кв.м.
        .sidebar__post
            a.sidebar__picture(href="#", style="background-image: url(static/img/general/s3.jpg);")
            a.sidebar__title(href="#") 7 км от МКАД!
            a.sidebar__text(href="#") Цена от 1.70 млн Р
