* {
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6, hr, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
html{
    height: auto;
    min-height: 100%;
}
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.header{
    display: block;
    width: 100%;
    &__mobile{
        display: none;
    }
    &__top{
        display: block;
        width: 100%;
        background: #000;
    }
    &__top-container{
        display: flex;
        width: 100%;
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__column-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__link{
        display: block;
        color: #b9b9c3;
        margin-right: 20px;
        font-weight: 700;
        &:hover{
            color: #fff;
        }
        &--active{
            color: #fff;
        }
        &--1{
            position: relative;
            padding-left: 19px;
        }
        &--1:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            background: url('../img/general/sprite.png') no-repeat -51px 0;
        }
        &--2{
            position: relative;
            padding-left: 21px;
        }
        &--2:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 16px;
            height: 14px;
            background: url('../img/general/sprite.png') no-repeat 0 -68px;
        }
        &--3{
            position: relative;
            padding-left: 19px;
            margin-right: 0;
        }
        &--3:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            background: url('../img/general/sprite.png') no-repeat 0 -34px;
        }
    }
    &__link--1:hover:after{
    background: url('../img/general/sprite.png') no-repeat -66px 0;
    }
    &__link--2:hover:after{
        background: url('../img/general/sprite.png') no-repeat -17px -68px;
    }
    &__link--3:hover:after{
        background: url('../img/general/sprite.png') no-repeat -17px -34px;
    }
    &__column-right{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__bottom{
        display: block;
        width: 100%;
        background: #3a3a43;
    }
    &__bottom--fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    &__bottom-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 12px;
    }
    &__main-logo{
        display: block;
        margin-right: 25px;
        width: 182px;
        height: 27px;
        background: url('../img/general/logo1.svg') no-repeat 0 center;
    }
    &__menu-link{
        display: block;
        margin-right: 24px;
        font-size: 15px;
        line-height: 17px;
        color: #fff;
        position: relative;
        transition: color 0.3s ease-out;
        padding-top: 7px;
        padding-bottom: 15px;
        font-weight: 700;
        &:before{
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: transparent;
            transition: background 0.3s ease-out;
        }
        &--dotted:after{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            left: 0;
            top: 23px;
            border-bottom: 1px dotted #fff;
            transition: border-bottom 0.3s ease-out;
        }
        &--dotted:hover:after{
            border-bottom: 1px dotted #fc0;
        }
        &--special{
            padding-left: 22px;
            color: #ff7d41;
        }
        &--special:after{
            position: absolute;
            content: '';
            width: 17px;
            height: 24px;
            top: 0;
            left: 0;
            background: url('../img/general/sprite.png') no-repeat 0 -109px;
        }
        &--active{
            color: #fc0;
        }
        &--active:before{
           background: #fc0;
        }
        &:hover{
            color: #fc0;
        }
        &:hover:before{
            background: #fc0;
        }
    }
    &__absolut-logo{
        display: block;
        width: 78px;
        height: 15px;
        margin-top: 8px;
        fill: #fff;
        transition: fill 0.3s ease-out;
        svg{
            width: 100%;
            height: 100%;
        }
        &:hover{
            fill: #5ebcfb;
        }
    }
    &__outer-link{
        display: block;
        width: 275px;
        height: 40px;
        background: url('../img/general/appartments.jpg') no-repeat center;
        background-size: cover;
        margin-top: 5px;
    }
}
.overflow{
    overflow: hidden;
}
@media (max-width: 1360px){
    .header__top-container{
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
    }
    .header__bottom-container{
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
    }
    .header__wrapper{
        width: 100%;
    }
    .header__main-logo{
        width: 100%;
    }
    .header__outer-link{
        margin-top: 0;
        position: absolute;
        top: 19px;
        right: 30px;
    }
}
@media (max-width: 1170px){
    .header__outer-link{
        display: none;
    }
    .header__top-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__bottom-container{
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }
    .header__link{
        margin-right: 10px;
    }
}
@media (max-width: 1080px){
    .header__top-container{
        padding-bottom: 0;
    }
    .header__link{
        margin-bottom: 8px;
    }
}
@media (max-width: 1023px){
    .header{
        display: none;
        position: fixed;
        top: 67px;
        left: 0;
        width: 100%;
        height: ~"calc(100vh - 67px)";
        z-index: 101;
        background: #3a3a43;
        overflow-y: scroll;
        padding-bottom: 80px;
    }
    .header__main-logo{
        display: none;
    }
    .header__mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: #3a3a43;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__mobile-logo{
        display: block;
        width: 182px;
        height: 27px;
        background: url("../img/general/logo1.svg") no-repeat 0 center;
    }
    .header__mobile-btn{
        display: block;
        position: relative;
        width: 36px;
        height: 26px;
        cursor: pointer;
    }
    .header__line1{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: #64c740;
        transition: 0.3s linear;
    }
    .header__line2{
        display: block;
        position: absolute;
        top: 11px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: #64c740;
        transition: 0.3s linear;
    }
    .header__line3{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: #64c740;
        transition: 0.3s linear;
    }
    .cross .header__line1{
        transform: rotate(45deg);
        top: 11px;
    }
    .cross .header__line2{
        opacity: 0;
    }
    .cross .header__line3{
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .header__top-container{
        padding-top: 15px;
        padding-bottom: 5px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__bottom-container{
        padding-top: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__column-left{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__link{
        margin-bottom: 15px;
        margin-right: 0;
        text-transform: uppercase;
    }
    .header__column-right{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__bottom-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0;
    }
    .header__menu-link{
        text-transform: uppercase;
    }
    .header__menu-link:before{
        display: none;

    }
    .header__menu-link--dotted:after{
        display: none;
    }
    .header__menu-link--dotted:before{
        display: none;
    }
}
@media (max-width: 700px){
    .header__mobile{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__top-container{
        padding-left: 15px;
    }
    .header__bottom-container{
        padding-left: 15px;
    }
}
